

@media (min-width: 600px) and (max-width: 700px) {

  body {
    font-size: 9px;
  }

  section.front_card {
    font-size: 16px;
  }
  .info {
    font-size: 1.8em;
  }

}

@media (min-width: 700px) and (max-width: 800px) {

  body {
    font-size: 11px;
  }

  section.front_card {
    font-size: 19px;
  }
  .info {
    font-size: 1.5em;
  }

}

@media (min-width: 800px) and (max-width: 950px) {

  body {
    font-size: 13px;
  }
  .info {
    font-size: 1.5em;
  }

}

@media (min-width: 950px) and (max-width: 1200px) {

  body {
    font-size: 15px;
  }

  section.front_card {
    font-size: 22px;
  }

  .info {
    font-size: 1.5em;
  }

}

@media (min-width: 1201px) and (max-width: 1400px) {
  body {
    font-size: 19px;
  }

  section.front_card {
    font-size: 24px;
  }
}

@media (min-width: 1401px) and (max-width: 3000px) {
  body {
    font-size: 22px;
  }

  section.front_card {
    font-size: 22px;
  }
}