@font-face {
    font-family: Mohave;
    src: url(../fonts/Mohave.otf);
}

@font-face {
    font-family: Aleo;
    src: url(../fonts/Aleo-Regular.ttf);
}

/*BODY*/
body {
  width: 99999999px;
  overflow-y: hidden;
  overflow-x: scroll;
}

body, html {
  background-image: url('../images/sky1.jpg');
  background-color: black;
  background-position: 0% 0%;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  height: 100%;
  white-space: nowrap;
  margin: 0;
  overflow-x: scroll;
  font-size: 14px;
  font-family: Mohave, sans-serif;
}

/*STAR OVERLAY*/

.overlay {
  width: 100%;
  height: 100vh;
  z-index: 0;
  position: fixed;
  background-image: url('../images/sky2.png');
}

.overlay img {
  width: 100%;
}

/*FRONT CARD*/

section.front_card {
  position: relative;
  display: inline-block;
  font-family: Mohave, sans-serif;
  font-size: 20px;
  z-index: 1;
  top: 5%;
}

section.front_card h1 {
  font-size: 6em;
  margin: 0.5em;
  text-shadow: 5px 3px 0px rgba(6, 6, 6, 0.75);
  z-index: 1;
}

section.front_card p {
  font-size: 2em;
  margin-left: 2em;
  transform: scale(1.1, 0.9);
  display: inline-block;
  margin-top: 0;
  word-spacing: 0.05em;
}

section.front_card p span {
  font-size: 1.5em;
  margin: 0 0.2em;
}

section.front_card .scrolling_direction p{
  font-size: 1em;
  margin-left: 3.5em;
}


/*PLANETS*/

.solar_system_wrap:after {
  content: '';
  left: 2361.5px;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-image: url(../images/markings.png);
  background-repeat: repeat-x;
  position: absolute;
  z-index: 2;
}

#root, .solar_system_wrap{
  display: inline-block;
  width: 99999999px;
  height: 100%;
  position: absolute;
}

.solar_system_wrap > * {
  vertical-align:top;
}


/*INDIVIDUAL PLANET*/

.planet, .planet_info_wrap  {
  z-index: 1;
  display: inline-block;
  position: relative;
  overflow: visible;
  text-align: center;
  top: 21%;
}

.planet .wrap {
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

.Sun .wrap {
  height: 100vh !important;
  z-index: 3;
}

.Sun.planet, .planet_info_wrap.Sun {
  margin-top: 0;
  top: 0;
  z-index: 3;
}

.planet h1 {
  position: relative;
  font-size: 4em;
  font-family: Mohave, sans-serif;
  letter-spacing: 0.05em;
  z-index: 2;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  margin-bottom: 0;
  letter-spacing: 0.2em;
}

.planet h1:hover{
  cursor: pointer;
}

.Sun h1 {
  font-size: 7em;
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translate(-50%, -20%);
  -moz-transform: translate(-50%, -20%);
  -ms-transform: translate(-50%, -20%);
  transform: translate(-50%, -20%);
  z-index: 5;
}

.planet img {
  position: relative;
  display: inline-block;
  width: 1.5em;
  margin: 1em auto;
  height: 4em;
}

.Uranus img, .Neptune img {
  height: 3em;
}

.Jupiter.planet, .planet_info_wrap.Jupiter  {
  top: 6%;
}

.Saturn img, .Jupiter img, .Sun img {
  display: none;
}


/*NAVIGATIONAL BAR*/
.navbar {
  position: fixed;
  z-index: 7;
  background-color: rgba(9, 9, 9, 0.3);
  left: 35%;
  transform: translateX(-35%);
  margin-top: 2%;
  display: inline-block;
  width: 100%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.navbar a {
  display: inline-block;
  font-size: 2em;
  float: left;
  margin-left: 2%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  transition: all .2s ease-in-out;
}

.navbar a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.navbar .wrap {
  overflow: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*DISTANCE WIDGET*/

.distance_widget {
  position: fixed;
  bottom: 8%;
  right: 7%;
  width: 24%;
  z-index: 5;
}

.distance_widget:hover {
  cursor: pointer;
}


.distance_widget p {
  display: inline-block;
  margin-left: 0.3em;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
  transition: all .2s ease-in-out;
}

.distance_widget span, .distance_widget ul  {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

.distance_widget ul {
  display: inline-block;
  list-style-type: none;
  margin-left: 0.3em;
  padding: 0;
  float: right;
  position: absolute;
  bottom: 0;
  transition: all .2s ease-in-out;
}

.distance_widget ul li p {
  font-size: 1em;
  margin-left: 0;
}

.distance_widget p:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
}

.distance_widget p:hover:after {
  width: 100%;
}

.distance_widget div {
  float: left;
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #fcfcfc transparent transparent transparent;
  position: relative;
  bottom: -50%;
  transform: translate(0%, 270%) scale(0.8);

}


/*DESCRIPTION*/
.planet .instructions {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: -0.5em;
  font-size: 1em;
  font-family: Aleo, sans-serif;
  z-index: 5;
}

.description {
  display: block;
  position: absolute;
  width: 100%;
}

.description p {
  display: block;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0;
  letter-spacing: 0.05em;
  font-family: Aleo, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  color: #a9a5a5;
}

.Jupiter .description, .Sun .description {
  top: 55%;
  z-index: 4;
  margin-bottom: 2%;
}

.Jupiter.wrap {
  margin-top: 4%;
}

/*MEAUSREMENTS*/

.scale {
  position: absolute;
  left: 6000px;
  top: 40%;
  font-size: 1.5em;
}

.scale p {
  text-align: center;
}

/*CSS TRANSITION*/

.thing-appear {
  opacity: 0.01;
}

.thing-appear.thing-appear-active {
  opacity: 1;
  transition: opacity .4s ease-in;
}

.thing-leave {
  opacity: 1;
}

.thing-leave.thing-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/*WEIGHTS*/

.weight_widget {
  position: fixed;
  bottom: 8%;
  left: 5%;
  z-index: 1;
  z-index: 4;
}

.weights {
  width: 2.5em;
  z-index: 2;
  transition: all .2s ease-in;
  float: left;
  display: block;
}

.weights img {
  width: 100%;
  transition: width .2s ease-in;
  z-index: 3;
}

.weights:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.weight_widget .instructions {
  margin-left: 20%;
}

.weight_widget .instructions p {
  margin: 0;
  font-family: Aleo, sans-serif;
  font-size: 1em;
  z-index: 2;
}

.info {
  position: absolute;
  left: 40em;
}
.info.false {
  display: none;
}


